HOST=0.0.0.0
PORT=1337
APP_KEYS=change-this-to-random-key
API_TOKEN_SALT=change-this-to-random-salt
ADMIN_JWT_SECRET=change-this-to-random-secret
TRANSFER_TOKEN_SALT=change-this-to-random-salt
JWT_SECRET=change-this-to-random-secret
